<footer class="bg-slate-900 pt-16 pb-8 text-slate-300 text-sm shadow-inner">
  <div class="container mx-auto flex flex-col gap-8">
    <ul class="flex justify-center">
      <li>
        <a href="https://khiar.net/@do_na" class="p-4 inline-block hover:bg-slate-950" target="_blank" rel="me">
          <svg class="h-4" fill="currentColor" viewBox="0 0 74 79" xmlns="http://www.w3.org/2000/svg"><path d="M73.7014 17.9592C72.5616 9.62034 65.1774 3.04876 56.424 1.77536C54.9472 1.56019 49.3517 0.7771 36.3901 0.7771H36.2933C23.3281 0.7771 20.5465 1.56019 19.0697 1.77536C10.56 3.01348 2.78877 8.91838 0.903306 17.356C-0.00357857 21.5113 -0.100361 26.1181 0.068112 30.3439C0.308275 36.404 0.354874 42.4535 0.91406 48.489C1.30064 52.498 1.97502 56.4751 2.93215 60.3905C4.72441 67.6217 11.9795 73.6395 19.0876 76.0945C26.6979 78.6548 34.8821 79.0799 42.724 77.3221C43.5866 77.1245 44.4398 76.8953 45.2833 76.6342C47.1867 76.0381 49.4199 75.3714 51.0616 74.2003C51.0841 74.1839 51.1026 74.1627 51.1156 74.1382C51.1286 74.1138 51.1359 74.0868 51.1368 74.0592V68.2108C51.1364 68.185 51.1302 68.1596 51.1185 68.1365C51.1069 68.1134 51.0902 68.0932 51.0695 68.0773C51.0489 68.0614 51.0249 68.0503 50.9994 68.0447C50.9738 68.0391 50.9473 68.0392 50.9218 68.045C45.8976 69.226 40.7491 69.818 35.5836 69.8087C26.694 69.8087 24.3031 65.6569 23.6184 63.9285C23.0681 62.4347 22.7186 60.8764 22.5789 59.2934C22.5775 59.2669 22.5825 59.2403 22.5934 59.216C22.6043 59.1916 22.621 59.1702 22.6419 59.1533C22.6629 59.1365 22.6876 59.1248 22.714 59.1191C22.7404 59.1134 22.7678 59.1139 22.794 59.1206C27.7345 60.2936 32.799 60.8856 37.8813 60.8843C39.1036 60.8843 40.3223 60.8843 41.5447 60.8526C46.6562 60.7115 52.0437 60.454 57.0728 59.4874C57.1983 59.4628 57.3237 59.4416 57.4313 59.4098C65.3638 57.9107 72.9128 53.2051 73.6799 41.2895C73.7086 40.8204 73.7803 36.3758 73.7803 35.889C73.7839 34.2347 74.3216 24.1533 73.7014 17.9592ZM61.4925 47.6918H53.1514V27.5855C53.1514 23.3526 51.3591 21.1938 47.7136 21.1938C43.7061 21.1938 41.6988 23.7476 41.6988 28.7919V39.7974H33.4078V28.7919C33.4078 23.7476 31.3969 21.1938 27.3894 21.1938C23.7654 21.1938 21.9552 23.3526 21.9516 27.5855V47.6918H13.6176V26.9752C13.6176 22.7423 14.7157 19.3795 16.9118 16.8868C19.1772 14.4 22.1488 13.1231 25.8373 13.1231C30.1064 13.1231 33.3325 14.7386 35.4832 17.9662L37.5587 21.3949L39.6377 17.9662C41.7884 14.7386 45.0145 13.1231 49.2765 13.1231C52.9614 13.1231 55.9329 14.4 58.2055 16.8868C60.4017 19.3772 61.4997 22.74 61.4997 26.9752L61.4925 47.6918Z" fill="inherit"></path></svg>
        </a>
      </li>
      <li>
        <a href="https://matrix.to/#/#do-na:matrix.org" class="p-4 inline-block hover:bg-slate-950" target="_blank">
          <svg class="h-4" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 520 520"><path d="M13.7 11.9v496.2h35.7V520H0V0h49.4v11.9H13.7zM166.3 169.2v25.1h.7c6.7-9.6 14.8-17 24.2-22.2 9.4-5.3 20.3-7.9 32.5-7.9 11.7 0 22.4 2.3 32.1 6.8 9.7 4.5 17 12.6 22.1 24 5.5-8.1 13-15.3 22.4-21.5 9.4-6.2 20.6-9.3 33.5-9.3 9.8 0 18.9 1.2 27.3 3.6 8.4 2.4 15.5 6.2 21.5 11.5s10.6 12.1 14 20.6c3.3 8.5 5 18.7 5 30.7v124.1h-50.9V249.6c0-6.2-.2-12.1-.7-17.6-.5-5.5-1.8-10.3-3.9-14.3-2.2-4.1-5.3-7.3-9.5-9.7-4.2-2.4-9.9-3.6-17-3.6-7.2 0-13 1.4-17.4 4.1-4.4 2.8-7.9 6.3-10.4 10.8-2.5 4.4-4.2 9.4-5 15.1-.8 5.6-1.3 11.3-1.3 17v103.3h-50.9v-104c0-5.5-.1-10.9-.4-16.3-.2-5.4-1.3-10.3-3.1-14.9-1.8-4.5-4.8-8.2-9-10.9-4.2-2.7-10.3-4.1-18.5-4.1-2.4 0-5.6.5-9.5 1.6-3.9 1.1-7.8 3.1-11.5 6.1-3.7 3-6.9 7.3-9.5 12.9-2.6 5.6-3.9 13-3.9 22.1v107.6h-50.9V169.2h48zM506.3 508.1V11.9h-35.7V0H520v520h-49.4v-11.9h35.7z"/></svg>
        </a>
      </li>
      <li>
        <a href="https://framagit.org/dona" class="p-4 inline-block hover:bg-slate-950" target="_blank">
          <svg class="h-4" fill="currentColor" viewBox="0 0 24 23" xmlns="http://www.w3.org/2000/svg"><path d="m23.95 13.59-1.34-4.14-2.66-8.19a.45.45 0 0 0-.87 0l-2.66 8.19H7.58L4.92 1.26c-.14-.42-.74-.42-.87 0L1.39 9.45.04 13.59c-.12.37.02.79.34 1.02L12 23.05l11.63-8.44a.92.92 0 0 0 .32-1.02"/></svg>
        </a>
      </li>
      <li>
        <a href="https://x.com/dona_news" class="p-4 inline-block hover:bg-slate-950" target="_blank">
          <svg class="h-4" fill="currentColor" viewBox="0 0 24 24"><g><path d="M18.244 2.25h3.308l-7.227 8.26 8.502 11.24H16.17l-5.214-6.817L4.99 21.75H1.68l7.73-8.835L1.254 2.25H8.08l4.713 6.231zm-1.161 17.52h1.833L7.084 4.126H5.117z"></path></g></svg>
        </a>
      </li>
      <li>
        <a href="https://t.me/dona_news" class="p-4 inline-block hover:bg-slate-950" target="_blank">
          <svg class="h-4" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50"><path d="M25 2a23 23 0 1 1 0 46 23 23 0 0 1 0-46zm7.93 32.38c.43-1.3 2.4-14.24 2.65-16.79.08-.77-.17-1.28-.64-1.51-.58-.28-1.44-.14-2.43.22-1.36.49-18.78 7.88-19.78 8.3-.96.41-1.86.86-1.86 1.5 0 .45.27.7 1 .96.77.28 2.7.86 3.84 1.17 1.1.3 2.35.04 3.05-.4.74-.45 9.3-6.18 9.92-6.68.61-.5 1.1.14.6.64-.5.5-6.38 6.2-7.16 7-.94.96-.27 1.95.36 2.35.72.45 5.9 3.93 6.69 4.49.78.56 1.57.8 2.3.8.72 0 1.1-.95 1.46-2.05z"/></svg>
        </a>
      </li>
    </ul>

    <p class="text-center">
      کد منبع این وبگاه به صورت آزاد و تحت پروانهٔ AGPL<br />
      <a href="{{ site.repo_url }}" target="_blank" rel="noopener noreferrer" class="underline">
        در این نشانی
      </a>
      در دسترس است.
    </p>
  </div>
</footer>
