---
layout: index
title: event.title
---

<article class="prose mx-auto my-16 px-4">
  {% assign event_number = page.name | split:"." | first | to_persian_digit %}

  <h4>نشست {{ event_number }}</h4>
  <h1>{{ page.title }}</h1>

  <div>
    {{ page.event_date | to_jalali: "%A %d %B %Y" | to_persian_digit }}
    ساعت
    {{ page.event_date | date: "%H:%M" | to_persian_digit }}
  </div>

  <div>
    توسط:
    <strong>{{ page.presenter | join: '، ' }}</strong>
  </div>

  {{ content | bidify }}
</article>
