<!DOCTYPE html>
<html lang="{{ site.lang | default: 'fa-IR' }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link rel="shortcut icon" href="{{ '/assets/img/dona-favicon-48.ico' | relative_url }}" type="image/x-icon">
    <title>{{ site.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
  </head>
  <body class="flex flex-col bg-slate-100 min-h-screen" dir="rtl">
    <main class="flex flex-col justify-center flex-grow items-center gap-4 bg-gradient-to-br to-indigo-900 via-indigo-800 from-purple-900 px-4 text-lg text-white text-center">
      <svg class="h-36 m-16" fill="currentColor" viewBox="0 0 13.23 15.88" xmlns="http://www.w3.org/2000/svg">
        <path d="M151.42 12.03v15.88h6.6v-3.95h-2.63v1.3h-1.32V12.03Zm3.97 0v2.65h2.65v-2.65zm3.97 0v2.65H162v10.58h-2.65v2.65h5.3V12.03ZM155.39 16v4.64h2.63v2l2.66-2.65V16z" transform="translate(-151.42 -12.03)"/>
      </svg>
      <p class="max-w-xl">
        دونا (دورهمی نرم‌افزار آزادی) تلاشی است برای آن که گرد هم بیاییم
        و در راستای اهداف و ارزش‌های جنبش نرم‌افزار آزاد، دست به اقدام و عمل بزنیم.
        دونا، به عنوان یک
        <em>رویداد ریلاگی</em>
        جایی است که در آن تصمیمات توسط
        <em>افراد فعال</em>
        گرفته می‌شود.
      </p>
      <p>
        دونا، یک نام دخترانهٔ لری به معنای دانا است.
      </p>

      <nav class="border-t border-dotted mt-8 pt-8">
        <ul class="list-none flex">
          <li>
            <a href="/events" class="p-4 underline hover:text-amber-500">نشست‌ها</a>
          </li>
        </ul>
      </nav>
    </main>

    {% include footer.html %}

    <script>
      // Save scroll position
      window.addEventListener('beforeunload', function() {
        localStorage.setItem('scrollPosition', window.scrollY);
      });
      
      // Restore scroll position
      window.addEventListener('load', function() {
        if (localStorage.getItem('scrollPosition')) {
          window.scrollTo(0, localStorage.getItem('scrollPosition'));
          localStorage.removeItem('scrollPosition');
        }
      });
    </script>
  </body>
</html>
